version: '3.8'

services:
  # Banco de Dados (PostgreSQL) 
  db:
    image: postgres:alpine
    container_name: desafio-db
    restart: unless-stopped
    # Define as variáveis de ambiente lendo do arquivo .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    # Adiciona na rede customizada
    networks:
      - app_network
    # Verifica se o banco está realmente pronto para aceitar conexões
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    container_name: desafio-api
    build:
      context: ./api
      dockerfile: Dockerfile
      target: dev
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app
      - /app/node_modules
    environment:
      DB_HOST: db 
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
    networks:
      - app_network
    depends_on:
      db:
        condition: service_healthy

  admin:
    image: dpage/pgadmin4
    container_name: desafio-pgadmin
    restart: unless-stopped
    # Define as variáveis de ambiente para o login do pgAdmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      # Diz ao pgAdmin para rodar na porta 80 interna
      PGADMIN_LISTEN_PORT: 80
    # Mapeia a porta 8080 do host para a 80 do contêiner 
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app_network
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
  pgadmin_data:

networks:
  app_network:
    driver: bridge