version: "3.8"

services:
  # Para PROD
  api:
    container_name: ex3-api-prod
    build:
      context: ./api
      dockerfile: Dockerfile
      target: prod          # Usa o estágio "prod" do Dockerfile
    # Sem volumes porque o codigo ja esta na imagem
    ports:
      - "4000:3000" # Expondo na porta 4000 da máquina
    environment:
      DB_HOST: db_prod
      DB_USER: ${POSTGRES_USER}
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
    depends_on:
      - db_prod
    restart: always # Em produção, queremos que sempre reinicie

  # Banco de Dados
  db_prod: # Nome do serviço diferente para isolar
    container_name: ex3-db-prod
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata_ex3_prod:/var/lib/postgresql/data # Volume de PROD separado
    restart: always

volumes:
  pgdata_ex3_prod: